{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="icon" href="{%static 'img/favicon.png'%}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header_body">
            <div class="logo">
                <a href="{% url 'home' %}" class="header_logo">
                    <img src="{%static 'img/logo.png'%}" alt="">
                </a>
                <a href="{% url 'home' %}" class="logo_text">ИНСТИТУТ ДОПОЛНИТЕЛЬНОГО<br>ПРОФЕССИОНАЛЬНОГО<br>ОБРАЗОВАНИЯ И ОБУЧЕНИЯ</a>

                <nav class="header_menu">

                    <ul class="header_list">
                        {% for c in category %}
                            {% if  c.main == True %}
                        <li>
                             <a class="header_link" href="/category/{{c.id}}">{{c.name}} </a>

                             {% for subcategory in c.sub_categories.all %}

                                    <ul class="header_sub_list">

                                        
                                        

                                        {% for subcategory in c.sub_categories.all %}
                                        <li>
                                            <a href="/category/{{ subcategory.id }}">{{ subcategory  }}</a>
                                        </li>
                                        {% endfor %}
                                       
                                    </ul>
                                    {% endfor %}
                        </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="header_nav">
                <ul>
                    {% for c in category %}
                    {% if  c.add == True %}
                    <li>
                        <a href="/category/{{ c.id }}">{{c.name}}</a>
                    </li>
                    
                    {% endif %}
                    {% endfor %}
                    <li>
                        <a href="">(8216) 738-770</a>
                    </li>
                </ul>
                <div class="lang">
                    <a href="" class="active">RU</a>
                    <a href="">EG</a>
                </div>

            </div>



            <div class="right-nav">
                <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Поиск">
                    <a href="#" class="search-btn"><img src="{%static 'img/search.png'%}"></a>
                </div>
            </div>

            <div class="header_burger">
                <span></span>
            </div>
        </div>
    </div>
</header>

{% block slider %}{% endblock %}

<div class="content">
    <div class="main_content">      

        <div class="grid">
            <div class="bl_l">
                {% block bl_l %}{% endblock %}        
            </div>

            <div class="bl_r">
                {% block bl_r %}{% endblock %}    
                
                <a class="questions" href="">
                    <p>Заказать консультацию</p>
                  </a>
                  
                  <div class="schedule">
                  <h2>График работы</h2>
                  
                    <table id="schedule">
                      {% for el in schedule %}
                        {% if el.weekend == True %}
                          <tr>
                            <td class="weekend">{{el.day}}</td>
                            <td>Выходной</td>
                          </tr>
                          {% else %}
                          <tr>
                            <td class="day">{{el.day}}</td>
                            <td>{{el.time}} – {{el.time2}}</td>
                          </tr>
                        {%endif%}               
                      {% endfor %}
                    </table>
                  </div>
                  
                  
                  <div class="social">
                  <a href="https://vk.com/idpo.ugtu" target="_blank">                     
                    <img src="{%static 'img/ico/vk.png'%}" alt="">
                    </a>
                  </div>
                

            </div>
  
         </div>
    </div>

    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afbf9a4016ee5d0bf269448594f123a5b9350f5e852d529e68f357cfa63e2215f&amp;width=100%25&amp;height=250&amp;lang=ru_RU&amp;scroll=true"></script>
</div>






<!-- js -->
    <script ENGINE="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="{%static 'js/slick.min.js'%}"></script>
    <script src="{%static 'js/script.js'%}"></script>

</body>
</html>